<a href="https://colab.research.google.com/github/Xzar79/Python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
a = input('당신의 이름을 입력하세요.')
a

당신의 이름을 입력하세요.기만

'기만'

In [12]:
b = input('당신의 나이를 입력하세요.')
b

당신의 나이를 입력하세요.10

'10'

In [11]:
type(a), type(b)
#input으로 숫자를 입력받아도 문자열로 기억된다.

(str, str)

In [10]:
c = int(b)
c, type(c)

(19, int)

In [19]:
year = int(input('출생년도를 입력하세요.'))
age=2021-year
print('당신은', year, '년생이고', 2021-year, "살 이시군뇨")

출생년도를 입력하세요.02
당신은 2 년생이고 2019 살 이시군뇨

**Format**

서식지정자 라고 한다.

In [22]:
s = 'a is {}'
s.format('apple')
#format은 {}와 함께 사용한다. 중괄호 안의 값을 줌으로서 결과값이 달라진다.

'a is apple'

In [26]:
a = '%s %d개 가격은 %.2f 달러'
b = a %('햄버거', 2, 4.0*2)
print(a)
print(b)
#a는 출력 양식, b는 양식에 들어갈 것들.

%s %d개 가격은 %.2f 달러
햄버거 2개 가격은 8.00 달러

In [28]:
# 치킨 2마리 가격은 40000원
a = '%s %d마리 가격은 %d 원'
b = a%('치킨', 2, 20000*2)
print(a)
print(b)

%s %d마리 가격은 %d 원
치킨 2마리 가격은 40000 원