<a href="https://colab.research.google.com/github/Xzar79/Python/blob/master/2%EC%9D%BC%EC%B0%A8_1%EA%B5%90%EC%8B%9C_Data_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[학습목표}


---
1. DataType을 알아보자
2. 출력문을 자유롭게 써보자

---
한줄한줄을 '셀' 이라고 한다.
alt+Enter를 누르면 셀을 실행시키고 다음 셀로 넘어간다.

In [0]:
print('Hello')

Hello

In [0]:
name = '김환'
print(name, '안녕!')

김환 안녕!

In [0]:
a=10
b=6.0
print('a / b = ', a/b) #몫과 나머지만 나온다.
print('a // b = ', a//b) #몫만 나온다
print('a ** b = ', a**b) #a의 b승
print('a % b = ', a%b) #나머지만 나온다.

a / b =  1.6666666666666667
a // b =  1.0
a ** b =  1000000.0
a % b =  4.0

In [0]:
# Data Type
print(type(a), type(b), type(name))
#{ }은 집합
#[]은 리스트
#튜플은 수정이 안됨.
#집합, 즉 세트는 교집합 차집합이 가능

<class 'int'> <class 'float'> <class 'str'>

In [0]:
a=[1,2,3]
b={'햄버거', '치킨'}
c=1,2,3

In [0]:
type(a), type(b), type(c)

(list, set, tuple)

In [0]:
a[0]

1

In [0]:
a[-1]
#-1은 리스트의 마지막 번호

3

In [0]:
a[1:]
#1:은 1번지부터 전부 즉, 1번지,2번지가 쭉 나온다.

[2, 3]

In [0]:
a=True
b=False
a&b, a|b, type(a)

(False, True, bool)

In [0]:
a=[2, 4, 6, 8]
len(a), a[-1]
#len()이라는 함수는 배열의 크기를 알려준다. length라고 알면 된다.

(4, 8)

In [0]:
b='인천정보산업고등학교'
len(b)

10